.conpay{
    display: flex;
    /* align-items: center; */
    flex-direction: column;

}
.conpay-title{
    font-weight: 700;
    margin-bottom: 20px;
}
.text{
    box-sizing: border-box;
    padding-left: 80px;
}
