.icon{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.left-icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.items-icon{
    display: flex;
    align-items: center;
}
.icon-title{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.span{
    display: flex;
    flex-direction: column;
}